body{
  background-image: url('https://img.freepik.com/free-vector/seamless-pattern_1159-5086.jpg?size=626&ext=jpg'); /*Seeting the background image. Ypu can change this by changing the link!*/
  background-size: cover;
  margin: 0rem; /* see referance for how padding and margins apply */
  font-family: Verdana, sans-serif; /*You can change the font here*/
}  

.main {
    background: rgb(27, 48, 47, 0.4); /* you can find the color combination online - google css color picker. The last value is the opacity */
    margin: 1rem; /* see referance for how padding and margins apply */
    padding: 2rem; /* see referance for how padding and margins apply */
    font-size: 1rem; /* rem is unit of measurement relative to font-size of the root element */
  }

.heading { /*top navigation bar*/
    overflow: hidden;
    padding: 0rem;
    margin: 0rem;
    background-image: linear-gradient(-45deg, #254d48 10%, #306e6a 50%, #27523d 100%);  
  
}
  

/* for classes that we specify include a '.' before class name */
  .box1 {
    border: 2px solid aqua; /* px is unit of measurement in pixels */
    border-radius: 10px;
    padding: 1rem; /*rem is unit of measurement*/
    padding: 0rem 1rem 1rem 1rem;
    margin-bottom: 2.5rem;
    color: white; /*text color*/
    background: rgb(46, 46, 46, 0.6);/* you can find the color combination online - google css color picker. The last value (0.6) is the opacity */
  }

  .box2 { 
    border: 1px solid white;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
    color: white;
  }

.name {
  color: white;
  margin: 1rem 2rem;
  float: left;
}

.pId {
  color: white;
  margin: 1rem 2rem;
  float: right;
}

 h1 { 
   color: white;
   text-align: center;
   padding: 2rem ;
   margin: auto;
   width: 50%;
}

.center {
  margin: auto;
  width: 50%;
}

.btn {
  text-align: center;
  font-size: 1.5vw;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  background-color: rgb(255,255,255, 0.75); /*you can change color bu changing the HEX code*/
}
